.btn-blue {
  background-color: white;
  border: #012a59 1px solid;
  color: #012a59;
  padding: 16px;
  display: block;
  width: 25%;
  margin: 8px auto;
  border-radius: 5px;
  text-align: center;
  transition: 1s;
}

.btn-blue:hover {
  transition:  1s;
  background-color: #012a59;
  color:  white;
}